APP_NAME="Alphainno POS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://erp.alphainno.com/pos

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pos_app
DB_USERNAME=forge
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_PATH=/pos

SAAS_DB_HOST=127.0.0.1
SAAS_DB_PORT=3306
SAAS_DB_DATABASE=alphainno
SAAS_DB_USERNAME=forge
SAAS_DB_PASSWORD=

CACHE_STORE=database
QUEUE_CONNECTION=database
